/* AppointmentForm.css */
.appointment-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.appointment-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.appointment-form h2 {
  margin-bottom: 20px;
}

.appointment-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.appointment-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.appointment-form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.appointment-form button:hover {
  background-color: #218838;
}

.doctor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #218838;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.doctor-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.doctor-specialty {
  color: #666;
}

.doctor-name span,
.doctor-specialty span {
  font-style: italic;
}

.return-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.return-button:hover {
  background-color: #45a049;
}