.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://i.pinimg.com/564x/41/63/b0/4163b0bed0eeb953054027d362aa759d.jpg') no-repeat center center/cover;
  width: 100vw;
  height: 70vh;
  color: white;
  text-align: center;
  overflow: hidden;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: rgb(76, 76, 232);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: rgb(52, 52, 238);
}

.services-section {
  padding: 4rem 2rem;
  text-align: center;
}

.services-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.services {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.service-card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: transform 0.3s;
}

.service-card:nth-child(odd) {
  align-self: flex-start;
}

.service-card:nth-child(even) {
  align-self: flex-end;
}

.service-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.service-card p {
  font-size: 1rem;
  color: rgb(131, 103, 103);
}

.service-card:hover {
  transform: translateY(-10px);
}

.contact-section {
  background-color: rgba(0, 56, 140, 0.1);
  padding: 4rem 2rem;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact-section p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.contact-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: rgb(76, 76, 232);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}



.contact-button:hover {
  background-color: rgb(52, 52, 238);
}