.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.content-wrap {
  flex: 1;
}

.medicine-delivery {
  text-align: center;
  padding: 60px;
  font-family: 'Arial', sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

label {
  font-size: 1.2rem;
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 1rem;
}

.medicine-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.medicine-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 260px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.medicine-card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.medicine-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.medicine-card h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.medicine-card p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.medicine-card button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.medicine-card button:hover {
  background: #0056b3;
}

.selected-medicine-card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.selected-medicine-content {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  max-width: 500px;
  width: 90%;
}

.selected-medicine-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.selected-medicine-content h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.selected-medicine-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.selected-medicine-content label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.selected-medicine-content input {
  width: 100px;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.selected-medicine-content button {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background 0.3s;
}

.selected-medicine-content button:hover {
  background: #0056b3;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.6rem;
  color: #666;
  cursor: pointer;
}

.search-label {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-right: 10px;
}

.search-input {
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.medicine-image,
.selected-medicine-image {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  margin-bottom: 10px;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f2b87;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.notification p {
  margin: 0;
}



/* Styling for smaller screens */
@media (max-width: 768px) {
  .selected-medicine-content {
    padding: 20px;
    width: 90%;
  }

  .selected-medicine-image {
    width: 150px;
    height: 150px;
  }

  .selected-medicine-content h2 {
    font-size: 1.4rem;
  }

  .selected-medicine-content p {
    font-size: 1rem;
  }

  .selected-medicine-content input {
    width: 70px;
    padding: 5px;
    font-size: 1rem;
  }

  .selected-medicine-content button {
    padding: 8px 15px;
    font-size: 1.2rem;
  }

  .medicine-delivery {
    padding: 25px;
  }

  .search-label,
  .search-input,
  select {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 1rem;
  }

  .search-label {
    margin-left: 0;
    margin-right: 0;
  }

  .medicine-cards {
    flex-direction: column;
    align-items: center;
  }

  .medicine-card {
    width: 90%;
    margin: 10px 0;
  }
}

/* Styling for larger screens */
@media (min-width: 769px) {


  .search-label {
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 10px;
  }

  .search-input {
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .medicine-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }

  .medicine-card {
    width: 260px;
  }


}