
body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  background-color: whitesmoke;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.logo {
  height: 50px;
}


.menu {
  display: flex;
  flex-wrap: wrap;
}


.navbar-item {
  margin: 0 15px;
  color: black;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.navbar-item:hover {
  text-decoration: underline;
}


.navbar-auth {
  display: flex;
}

.button {
  border: 1px solid rgb(76, 76, 232);
  color: blue;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(52, 52, 238);
  color: white;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 40px;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navbar-item {
  margin: 0 0.5rem;
}

.navbar-auth .button {
  margin: 0 0.5rem;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  height: 350px;
  width: 350px;
  background: white;
  padding: 3rem;
  border-radius: 8px;

  position: relative;
}

.login img {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.login div {
  margin: 15px;
  width: 100%;
  position: relative;
}

.login .field {
  width: 100%;
  border-radius: 14px;
  border: 2px solid rgb(131, 103, 103);
  box-sizing: border-box;
}

.login input[type="text"],
.login input[type="password"] {
  width: 100%;
  padding: 15px 31px 11px 40px; 
}

.login .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px; 
  color: rgb(179, 199, 214); 
}










@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  .navbar-item {
    margin: 10px 0;
  }

  .navbar-auth {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .button {
    width: 80%;
    margin: 10px 0;
  }
}
