.filter-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.filter-container select,
.filter-container input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.filter-container select:focus,
.filter-container input:focus {
  border-color: #007bff;
  outline: none;
}

.doctor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.doctor-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  text-align: center;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.doctor-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.doctor-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.doctor-card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.doctor-card p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 10px;
}

.appoint-button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.appoint-button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .doctor-card {
    width: 100%;
    max-width: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 480px) {

  .filter-container select,
  .filter-container input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .doctor-card {
    width: 100%;
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
}